/* Estilos Responsivos */

/* Tablets e dispositivos médios */
@media screen and (max-width: 992px) {
    .video-container {
        width: 80%;
    }
    
    .matrix-btn {
        padding: 8px 25px;
        font-size: 16px;
    }
    
    .release-image, .gallery-image {
        height: 60vh;
    }
}

/* Dispositivos móveis */
@media screen and (max-width: 768px) {
    body {
        background-image: url('../img/BACKGROUND-GERAL-CELULAR.png');
    }
    
    .video-container {
        width: 90%;
    }
    
    .matrix-btn {
        padding: 8px 20px;
        font-size: 14px;
    }
    
    /* Ajuste para página 1 em celular */
    #page1 {
        background-image: url('../img/BACKGROUND CELULAR - SEÇÃO1.jpg');
    }
    
    /* Ajuste para página 7 em celular */
    .release-image {
        background-image: url('../img/6-release celular.png');
        height: 50vh;
    }
    
    /* Ajuste para página 8 em celular */
    .page {
        background-image: url('../img/BACKGROUND-GERAL-CELULAR.png');
    }
    
    .gallery-image {
        background-image: url('../img/8-GALERIA FOTO CELULAR.png');
        height: 50vh;
    }
}

/* Dispositivos muito pequenos */
@media screen and (max-width: 480px) {
    .video-container {
        width: 95%;
    }
    
    .matrix-btn {
        padding: 6px 15px;
        font-size: 12px;
        margin: 5px;
    }
    
    .navigation {
        margin-top: 15px;
    }
    
    .release-image, .gallery-image {
        height: 40vh;
    }
}
